<%- include('layouts/header') %>

<div class="hero">
  <div class="overlay">
    <h1>Track. Organize. Optimize your car parts stock.</h1>
    <p>Easily manage categories, quantities, and suppliers — all in one place.</p>
  </div>
</div>

<%- include('layouts/footer') %>
