<%- include('../layouts/header') %>

<div class="container">
  <h1>Add New Brand</h1>

  <form action="/brands/new" method="POST">
    <label for="name">Brand Name:</label>
    <input type="text" name="name" required>

    <button type="submit" class="btn primary">Add Brand</button>
  </form>

  <a href="/brands" class="btn">Back to Brands</a>
</div>

<%- include('../layouts/footer') %>
